[Unit]
Description=OpenVPN-PHPMON daemon
After=network.target mysqld.service
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
ExecStart=/usr/bin/env php /opt/openvpn-phpmon/daemon.php

[Install]
WantedBy=multi-user.target
